* {
  border: 0;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.flex-container {
  display: flex;
  height: 600px;
}

.flex-child-p {
  flex: 1;
  padding: 75px;
}

.flex-child {
  flex: 1;
}

.form-container {
  padding-top: 100px;
}

.my-3 {
  margin: 20px 125px;
}

.plr-20 {
  padding: 5rem 20rem;
}

#form-container p {
  display: inline-block;
  font-size: larger;
  margin: 8px 30px;
  padding: 12px 20px;
}

#form-container {
  align-items: center;
  background-color: #f2f2f2;
  border-radius: 5px;
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  padding: 100px 0;
}

.input-container {
  display: flex;
  justify-content: space-around;
  margin: 8px 0px;
  padding: 14px, 20px;
}

.hidden {
  display: none;
}

::placeholder {
  color: #000;
  font-family: monospace;
  font-size: 16px;
}

.container-chart {
  margin-right: auto;
  margin-left: auto;
  padding-right: 75px;
  padding-left: 15px;
  padding-top: 75px;
  width: 85%;
}

.grade-chart {
  height: 600px;
  margin-right: auto;
  margin-left: auto;
  padding-right: 75px;
  padding-left: 15px;
  padding-top: 75px;
  width: 85%;
}

#message-rating {
  color: #000;
  font-family: monospace;
  font-size: 16px;
}

.was-validated :invalid ~ .invalid-tooltip,
.was-validated :valid ~ .valid-tooltip {
  position: relative;
  top: -47px;
}

#logo {
  color: #81b8ec;
}

#submission-status-message {
  font-weight: bold;
}
