.hidden {
  display: none;
}

label, select {
  margin-bottom: 20px;
}

#login-box {
    margin: auto;
    padding: 30px;
    width: 120px;
}

#search-button:hover, #logout-button:hover {
  background-color: #45a049;
}

#private-class-info, #course-search {
  margin: auto;
  width: 80%;
}

.button-container {
  text-align: center;
  margin: auto;
}

#private-logout-button, #logout-button {
  bottom:   5%;
  position: fixed;
  right:    5%;
}

#search-to-add, #add-to-search {
  left: 5%;
  bottom: 5%;
  position:fixed;
}

.button-padding {
  padding: 20px;
}

#search-results {
  padding: 20px;
}
