.hidden {
  display: none;
}

label, select {
  margin-bottom: 20px;
}

#login-box {
    margin: auto;
    padding: 30px;
    width: 120px;
}

#search-button:hover, #logout-button:hover {
  background-color: #45a049;
}

#private-class-info {
  margin: auto;
  width: 80%;
}

.button-container {
  margin: auto;
}

#private-logout-button {
  bottom:   5%;
  position: absolute;
  right:    5%; 
}

#add-to-search {
  display: block; 
  margin: 0 auto;
}

.button-padding {
  padding: 20px;
}
